.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    background-color: black;
}

.nav button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff; 
    border-radius: 7px; 
    background-color: black; 
    color: #fff; 
    cursor: pointer;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

